{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}
    داشبورد
{% endblock %}

{% block content %}
    <section id="form">
        <div class="containr">
            <div class="rowa">
                <div class="col-sm-6 col-md-offset-3" >
                    <div class="signup-form">
                        {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}